@font-face {
    font-family: "Fira Sans Light";
    src: url("Fira_Sans/FiraSans-Light.ttf");
}
@font-face {
    font-family: "Playfair Display";
    src: url("Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Bellefair";
    src: url("Bellefair/Bellefair-Regular.ttf");
}
@font-face {
    font-family: "Abhyaksa";
    src: url("abhyaksa/Abhyaksa.ttf");
}
@font-face {
    font-family: 'Breathing';
    src:  url('Breathing/Breathing.ttf');
}
@font-face {
    font-family: 'Batteny';
    src:  url('batteny/Batteny Personal Use Only.ttf');
}
