<!-- Events Section -->
<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Мероприятия</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Церемония</h4>
                                <h4 class="subheading">16:00</h4>
                                <h6>Villa Foscarini Cornaro, сад Гранаио</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Мы громко скажем свое "Да!" в саду Виллы Фоскарини Корнаро. Следуйте указателям, чтобы найти наш уютный уголок. Церемония продлится примерно час. Готовьтесь разделить с нами этот трогательный момент!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Аперитив и ужин</h4>
                                <h4 class="subheading">17:00</h4>
                                <h6>Villa Foscarini Cornaro, Granaio della Serenissima</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Закуски и ужин будут поданы в Вилле 
                            Фоскарини. Если погода позволит, аперитив пройдет на открытом воздухе.
Ужин пройдет в зале Гранаио, и его основой будут морепродукты, но, конечно, будут также вегетарианские и веганские блюда. Просто укажите свои предпочтения и/или аллергию в форме 
                            <a class="page-scroll" href="#contact">здесь</a></p>. </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Вечеринка</h4>
                                <h4 class="subheading">22:00</h4>
                                <h6>Villa Foscarini Cornaro</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">После ужина мы продолжим праздник с тортом, несколькими сюрпризами, а затем будем танцевать до двух часов ночи!
Для тех, кто приехал без машины и хочет вернуться в Тревизо после вечеринки (мы советуем заранее забронировать там отель, если это необходимо), будет организован транспорт.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
