<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Часто задаваемые вопросы</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Какая будет погода?</h4>  
            <p class="largepad text-muted">Если бы только мы могли это знать! В начале октября в Италии погода может варьироваться от довольно теплой (20° и выше) до полноценной осени. У нас всё предусмотрено на случай дождя, и это никак не помешает нам веселиться.</p>
            <h4 class="service-heading">Какой дресс-код?</h4>  
            <p class="largepad text-muted">Этот день создан, чтобы поделиться с вами нашей радостью и счастьем, так что будьте яркими и веселыми – и в одежде, и в настроении! По возможности, мы бы попросили вас избегать черного и белого цветов, согласно традиции.</p>
            <h4 class="service-heading">Будет ли организован транспорт?</h4>  
            <p class="largepad text-muted">Мы организуем транспорт для наших гостей из XYZ до места проведения. Больше информации можно найти в разделе ABC.</p>
        </div>
    </div>
</section>
