<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Часто задаваемые вопросы</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Какая будет погода?</h4>  
            <p class="largepad text-muted">Кто знает! В конце сентября в Италии может быть как довольно тепло (20° и выше), так и по-настоящему осенняя погода. У нас есть запасной план на случай дождя, который, тем не менее, доставит нам массу удовольствия.</p>
            <h4 class="service-heading">Какой дресс-код?</h4>  
            <p class="largepad text-muted">Этот день создан, чтобы поделиться с вами нашей радостью и счастьем, так что будьте яркими и веселыми – и в одежде, и в настроении! По возможности, мы бы попросили вас избегать черного и белого цвета, согласно традиции.</p>
            <h4 class="service-heading">Будет ли организован транспорт?</h4>  
            <p class="largepad text-muted">Мы организовали транспорт для наших гостей из Тревизо и Одерцо до Виллы. Вечером также будет доступен обратный транспорт до Одерцо. Пожалуйста, зайдите позже на этот сайт или свяжитесь с нами, чтобы узнать точное место и время отправления, если вам потребуется трансфер.</p>
	    <h4 class="service-heading">А как насчёт младенцев и детей?</h4>
            <p class="largepad text-muted">Будут люди, которые будут присматривать за нашими гостями в возрасте от 3 до 10 лет и развлекать их. Для самых маленьких (до 3 лет) мы обеспечим наличие пространства для игр, отдыха и кормления грудью.</p>
        </div>
    </div>
</section>
