<div class="separator"></div>
<section id="gifts" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    Ваше присутствие – лучший подарок для нас!
                    <br>
                    Однако, если после такого дальнего путешествия вам захочется отправить нас к черту, отправьте нас лучше в Австралию! Мы будем очень благодарны за помощь в организации нашего медового месяца.
                    <br>
                    В этом случае, наш IBAN: XXX (на имя Эдуарда Ахметова).
                </div>
            </div>
        </div>
</section>
<div class="separator"></div>
