<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span>
                <!--<a class="brand page-scroll" href="#page-top" style="text-decoration:none">{{site.title}}</a>&nbsp;&nbsp;&nbsp;-->
                <img src="../img/backgrounds/logo.png" height="80">
                <a href="{{site.baseurl}}/en" class="btn-m">EN</a>
                <a href="{{site.baseurl}}/it" class="btn-m">IT</a>
                <a href="{{site.baseurl}}/de" class="btn-m">DE</a>
                <a href="{{site.baseurl}}/ru" class="btn-m">RU</a>
            </span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#our_story">Добро пожаловать</a>
                </li>
                <li>
                    <a class="page-scroll" href="#events">Программа</a>
                </li>
                <li>
                    <a class="page-scroll" href="#venue">Карта</a>
                </li>
                <li>
                    <a class="page-scroll" href="#travel">Как добраться</a>
                </li>
		<li>
                    <a class="page-scroll" href="#stay">Где остановиться</a>
                </li>
		<li>
                    <a class="page-scroll" href="#contact">Подтверждение участия</a>
                </li>
                <li>
                    <a class="page-scroll" href="#FAQ">Часто задаваемые вопросы</a>
                </li>
                <li>
                    <a class="page-scroll" href="#gifts">
                        <i class="fas fa-gift"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading" style="font-family: Arsenal">Мы женимся!</div>
            <div class="intro-lead-in">Воскресенье, 20 сентября 2026 г.</div>
            <div class="intro-lead-in">Горго-аль-Монтикано, Тревизо, Италия</div>
            <a href="#events" class="page-scroll btn btn-xl">Расскажи подробнее</a>
        </div>
    </div>
</header>
<div class="separator"></div>
