
<!-- Our Story Section -->
<section id="our_story" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Добро пожаловать</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="largepad text-muted">
                Добро пожаловать на наш свадебный сайт – мы рады видеть вас здесь!
		Мы создали этот сайт как полезный источник информации для нашей свадьбы в Италии. Здесь вы найдете расписание мероприятий и другую важную информацию о нашем свадебном дне.
            </p>
        </div>
    </div>
    <!--{% include /common/story.html %}-->
    <div class="separator"></div>
</section>
