<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Где остановиться</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
		<p style="margin-bottom: 5rem;">Прежде всего, пожалуйста, сообщите нам, если вам нужна помощь с размещением <a class="page-scroll" href="#contact" style="font-weight: bold; text-decoration: underline;">ЗДЕСЬ</a>.
		<br>
		Мы договорились о сниженных тарифах с двумя местами в Одерцо, где мы предлагаем вам остановиться хотя бы на ночь после свадьбы. В качестве альтернативы мы предлагаем вам изучить другие варианты, доступные в городе или непосредственно в Тревизо.
		<br>
		Мы позаботимся об организации транспорта из обоих мест на виллу до и после мероприятия. Для получения более подробной информации перейдите в раздел <a class="page-scroll" href="#contact" style="font-weight: bold; text-decoration: underline;">часто задаваемых вопросов (FAQ)</a>.
		<br>
		</p>
	    </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, PrimHotel</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Martiri Di Cefalonia, 13 - 31046 Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+39 (0)422 713699</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https:///www.primhotel.it">https://www.primhotel.it</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Расстояние от места: 7 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
               </ul>
            </div>
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, El Sesterzio B&B (только с машиной)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Masotti 21/C Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">3201986074</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.booking.com/Share-zTsPZi">https://www.booking.com/Share-zTsPZi</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Расстояние от места: 8.5km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
		</ul>
            </div>
        </div>
    </div>
</section>
