<!-- Travel Section -->
<section id="travel" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Как добраться</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
		<p style="margin-bottom: 5rem;">Прежде всего, сообщите нам, если вам нужна помощь в организации вашей поездки <a class="page-scroll" href="#contact">ЗДЕСЬ</a>. 
<br>
Кроме того, мы рекомендуем вам прибыть в этот район за день до свадьбы, чтобы избежать возможных сложностей.
<br> 
Самый простой вариант – остановиться в Одэрцо (либо накануне, либо хотя бы в ночь свадьбы), который находится всего в нескольких минутах от виллы. 
<br>
Если у вас нет автомобиля, мы организуем транспорт от Одэрцо до виллы. 
<br>
Для тех, кто не хочет далеко уезжать из города, мы рекомендуем остановиться в Тревизо – его обязательно стоит посетare!</div>
                 </p>
	</div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Самолет</h4>
                <p class="text-muted">Два ближайших аэропорта – аэропорт Канова в Тревизо и аэропорт Марко Поло в Венеции. Оба аэропорта обслуживаются как традиционными авиакомпаниями, так и бюджетными перевозчиками, а также предлагают аренду автомобилей и транспортное сообщение с городом и железнодорожной станцией.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Автомобиль</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit ultricies pharetra. Donec maximus at neque a vehicula.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-train fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Поезд</h4>
                <p class="text-muted">Железнодорожная сеть предлагает как маршрут Милан/Венеция, так и Адриатический маршрут Барлетта/Венеция. Оба маршрута приведут вас в Местре, откуда можно пересесть на поезд до Тревизо и/или Одэрцо.</p>
            </div>
        </div>
    </div>
</section>
