<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">If only we could know! Beginning of October in Italy can vary from stilly pretty warm (20° and more) to full Autumn temperatures. We have everything set for a plan B in case of rain that will grant us equally plenty of fun.</p>
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">It's a day ment to share our happiness and joy with you, so be coloful and merry, in your outfit and in your spirit! If possible, we would ask you to avoid black and white, and black, as per tradition.</p>
            <h4 class="service-heading">Will transportation be arranged?</h4>  
            <p class="largepad text-muted">We will arrange a transportation for our guests from XYZ to the location. You can find more info under the section ABC.</p>
        </div>
    </div>
</section>
