<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Häufig gestellte Fragen</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Wie wird das Wetter sein?</h4>  
            <p class="largepad text-muted">Wenn wir das nur wüssten! Ende September in Italien kann es von noch ziemlich warm (20° und mehr) bis hin zu vollen Herbsttemperaturen variieren. Wir haben für den Fall von Regen einen Plan B vorbereitet, der uns ebenso viel Spaß garantiert.</p>
            <h4 class="service-heading">Was ist der Dresscode?</h4>  
            <p class="largepad text-muted">Es ist ein Tag, an dem wir unser Glück und unsere Freude mit Ihnen teilen möchten, also seien Sie bunt und fröhlich, in Ihrem Outfit und in Ihrem Geist! Wenn möglich, bitten wir Sie, Schwarz und Weiß gemäß der Tradition zu vermeiden.</p>
            <h4 class="service-heading">Wird ein Transport organisiert?</h4>  
            <p class="largepad text-muted">Wir werden einen Transport für unsere Gäste von XYZ zum Veranstaltungsort organisieren. Weitere Informationen finden Sie im Abschnitt ABC.</p>
        </div>
    </div>
</section>
