<div class="separator"></div>
<section id="gifts" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
			<h2 class="section-heading" style="color:#fff"><i class="fas fa-gift"></i></h2>
                    <p style="color:#fff">Eure Anwesenheit wird das beste Geschenk für uns sein!
                    <br>
                    Wenn ihr uns jedoch nach einer so weiten Reise in die Hölle schicken möchtet, schickt ihr uns stattdessen doch einfach in die Flitterwoche! 
		    <br>
		    Wir würden uns sehr über Unterstützung für unsere Flitterwoche freuen.
                    <br>
                    In diesem Fall lautet unsere IBAN DE62200411440207619800 (auf den Namen von Eduard Achmetov).
                    </p>
		</div>
            </div>
        </div>
</section>
<div class="separator"></div>
