<div class="separator"></div>
<section id="gifts" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    Ihre Anwesenheit wird das beste Geschenk für uns sein!
                    <br>
                    Wenn Sie uns jedoch nach einer so weiten Reise in die Hölle schicken möchten, schicken Sie uns stattdessen nach Australien! Wir würden uns sehr über Unterstützung für unsere Flitterwochen freuen.
                    <br>
                    In diesem Fall lautet unsere IBAN XXX (auf den Namen von Eduard Achmetov).
                </div>
            </div>
        </div>
</section>
<div class="separator"></div>
