
<!-- Our Story Section -->
<section id="our_story" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Willkommen</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="largepad text-muted">
                Willkommen auf unserer Hochzeitswebsite – wir freuen uns sehr, dass ihr hier seid. Wir haben diese Website als hilfreiches Tool für unsere Hochzeit in Italien erstellt. Hier findet ihr unseren Veranstaltungsplan und weitere Informationen zu unserem Hochzeitstag.
            </p>
        </div>
    </div>
    <!--{% include /common/story.html %}-->
    <div class="separator"></div>
</section>
