<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wo übernachten</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
		<p style="margin-bottom: 5rem;">Zunächst lasst ihr uns <a class="page-scroll" href="#contact" style="font-weight: bold; text-decoration: underline;">HIER</a> bitte wissen, ob ihr Unterstützung bei eure Unterkunft benötigt.
		<br>
		Wir haben mit verschiedenen Orten in Oderzo ermäßigte Tarife vereinbart. Wir empfehlen euch, dort mindestens die Nacht nach der Hochzeit zu verbringen. Alternativ empfehlen wir euch, die anderen verfügbaren Optionen in der Stadt oder direkt in Treviso zu erkunden.
		<br>
		Wir kümmern uns um den Transport von Oderzo zur Villa vor und nach der Veranstaltung.
		</p>
	    </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, PrimHotel</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Martiri Di Cefalonia, 13 - 31046 Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+39 (0)422 713699</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https:///www.primhotel.it">https://www.primhotel.it</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Entfernung vom Location: 7 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, El Sesterzio B&B (nur mit Auto!)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Masotti 21/C Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+39 3201986074</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.booking.com/Share-zTsPZi">https://www.booking.com/Share-zTsPZi</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Entfernung vom Location: 8.5km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
             <ul style="list-style-type:none;">
                <li>
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, Contrada 18</span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Contrada Rossa, 18 - 31046 Oderzo (TV)</span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+39 353 4773290</span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.contrada18.it/">https://www.contrada18.it/</a></span>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Entfernung vom Location: 7 km</span>
                        </li>
                        <li><br></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul style="list-style-type:none;">
            </ul>
        </div>	
    </div>
</section>
