<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wo übernachten</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">Zunächst lassen Sie uns 
                <a class="page-scroll" href="#contact">HIER</a> bitte wissen, ob Sie Unterstützung bei Ihrer Unterkunft HIER benötigen.</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Oderzo, Primhotel
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, PrimHote,</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Martiri Di Cefalonia, 13 - 31046 Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+39 (0)422 713699</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https:///www.primhotel.it">https://www.primhotel.it</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Entfernung vom Location: 7 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        El Sesterzio B&B
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, El Sesterzio B&B</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Masotti 21/C Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+39 3201986074</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.booking.com/Share-zTsPZi">https://www.booking.com/Share-zTsPZi</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Entfernung vom Location: 8.5km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
