<!-- Travel Section -->
<section id="travel" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wie man dorthin kommt</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <p style="margin-bottom: 5rem;">Lasst ihr uns <a class="page-scroll" href="#contact" style="font-weight: bold; text-decoration: underline;">HIER</a> zunächst wissen, ob ihr Unterstützung bei der Organisation eure Anreise benötigt.
<br>
Außerdem empfehlen wir euch, bereits am Vortag in der Gegend anzukommen, um mögliche Komplikationen zu vermeiden. 
<br>
Die einfachste Lösung ist, in Oderzo zu übernachten (entweder in der Nacht zuvor oder zumindest in der Nacht der Hochzeit selbst), da es sich in unmittelbarer Nähe zur Villa befindet. 
<br>
Falls ihr kein Auto habt, kümmern wir uns um den Transport von Oderzo zur Villa. 
<br>
Für diejenigen, die nicht weit von der Stadt entfernt sein möchten, empfehlen wir Treviso als Ausgangspunkt – eine Stadt, die ihr unbedingt besuchen solltet! </div>
                </p>
	    </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Flugzeug</h4>
                <p class="text-muted">Die beiden relevanten Flughäfen sind der Canova-Flughafen in Treviso und der Marco-Polo-Flughafen in Venedig. 
Beide werden sowohl von Linienfluggesellschaften als auch von Low-Cost-Airlines angeflogen und verfügen über Mietwagenservices sowie öffentliche Verkehrsmittel, die eine Anbindung an die Stadt und den Bahnhof ermöglichen.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Auto</h4>
                <p class="text-muted">Von Venedig aus nehmen Sie die Autobahnausfahrt Cessalto und folgen der Beschilderung nach Motta di Livenza entlang der SP53. In Motta fahren Sie über die Umgehungsstraße auf die Staatsstraße Postumia (SR53) und folgen ihr bis nach Gorgo al Monticano; dort den Schildern nach Villa Foscarini folgen. Von Treviso aus nehmen Sie einfach direkt die Postumia (SR53) bis nach Gorgo al Monticano.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-train fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Zug</h4>
                <p class="text-muted">Die Bahnstrecke bietet sowohl die Verbindung Mailand/Venedig als auch die Adriatische Linie Barletta/Venedig. 
Beide Routen bringen euch bis nach Mestre, von wo aus ihr dann einen Zug nach Treviso und/oder Oderzo nehmen können.</p>
            </div>
        </div>
    </div>
</section>
