<!-- Events Section -->
<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programma</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Cerimonia</h4>
                                <h4 class="subheading">16:00</h4>
                                <h6>Villa Foscarini Cornaro, giardini del Granaio</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Diremo `Sí, lo voglio!` nel giardino di Villa Foscarini Cornaro. Seguite le indicazioni in locaton per trovare il
                                   nostro angolino personale. La cerimonia durerá all'incirca un'ora. Preparate i fazzoletti!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aperitivo e cena</h4>
                                <h4 class="subheading">17:00</h4>
                                <h6>Villa Foscarini Cornaro, Granaio della Serenissima</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Il buffet d'aperitivo e la cena saranno serviti a Villa Foscarini. Se il meteo lo consente, l'Aperitivo si terrá all'aperto.
                                   La cena verrá servita all'interno del Granaio e sará a base di pesce e carne, ma ovviamente ci saranno opzioni vegeariane.
                                   Semplicemente indicate le vostre preferenze e/o allergie alimentari nel form <a class="page-scroll" href="#contact">qui</a></p>.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Party</h4>
                                <h4 class="subheading">22:00</h4>
                                <h6>Villa Foscarini Cornaro</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Dopo la cena, festeggeremo assieme con la torta, qualche altra sorpresa, e poi
                                ballando fino alle due. Per coloro che hanno raggiunto la location senza una macchina e desiderano
                                ritornare a Treviso dopo la festa (vi consigliamo di prenotare lì un hotel se ne avete esigenza) sarà nostra cura organizzare</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
