<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Domande Frequenti</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Che tempo ci sará?</h4>  
            <p class="largepad text-muted">Se solo avessimo la sfera di cristallo per saperlo! L'inizio di Ottobre in Veneto puó variare dall'essere piuttosto caldo (20° e piú) A temperature piú autunnali. Noi abbiamo organizzato tutto per un eventuale piano B in caso di pioggia, che ci garantirá comunque di divertirci.</p>
            <h4 class="service-heading">Qual é il dress code?</h4>  
            <p class="largepad text-muted">Questo sará un giorno per condividere la nostra gioia e la nostra felicitá con voi. Quindi siate colorati, siate felici nel vostro spirito e nel vostro outfit! Se possibile, vi chiederemmo di evitare il bianco ed il nero, come da tradizione.</p>
            <h4 class="service-heading">Sará organizzato un mezzo di trasporto da e per la villa?</h4>  
            <p class="largepad text-muted">Noi ci premureremo di organizzare un mezzo di trasporto per i nostri ospiti non auto muniti da Treviso/Oderzo alla location. Potete trovare piú informazioni nella sezione ABC.</p>
        </div>
    </div>
</section>
