<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Domande Frequenti</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Che tempo ci sará?</h4>  
            <p class="largepad text-muted">Se solo avessimo la sfera di cristallo per saperlo! La fine di Settembre in Veneto puó variare dall'essere piuttosto caldo (20° e piú) a temperature piú autunnali. Noi abbiamo organizzato tutto per un eventuale piano B in caso di pioggia, che ci garantirá comunque di divertirci.</p>
            <h4 class="service-heading">Qual é il dress code?</h4>  
            <p class="largepad text-muted">Questo sará un giorno per condividere la nostra gioia e la nostra felicitá con voi. Quindi siate colorati, siate felici nel vostro spirito e nel vostro outfit! Se possibile, vi chiederemmo di evitare il bianco ed il nero, come da tradizione.</p>
            <h4 class="service-heading">Sará organizzato un mezzo di trasporto da e per la villa?</h4>  
            <p class="largepad text-muted">Abbiamo organizzato un servizio di trasporto per i nostri ospiti in partenza da Treviso e Oderzo verso la Villa. La sera sarà disponibile anche un servizio di ritorno per Oderzo. Tornate più tardi su questo sito o contattateci per conoscere il luogo e l’orario esatti del prelievo, se ne avete bisogno.</p>
	    <h4 class="service-heading">E per neonati e bambini?</h4>
	    <p class="largepad text-muted">Ci saranno persone che si occuperanno di assistere e intrattenere i nostri ospiti dai 3 ai 10 anni. Per i più piccoli (sotto i 3 anni), ci assicureremo che siano disponibili spazi per giocare, riposare e allattare.</p>
        </div>
    </div>
</section>
