<div class="separator"></div>
<section id="gifts" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
			 <h2 class="section-heading" style="color:#fff"><i class="fas fa-gift"></i></h2>
                    <p style="color:#fff">La vostra presenza sarà per noi il dono più bello!
                    <br>
                    Tuttavia, se dopo avervi fatto viaggiare cosí lontano vorreste mandarci a quel paese, mandateci in viaggio di nozze invece! 
		    <br>
		    Apprezzeremmo immensamente un aiuto per la nostra luna di miele.
                    <br>
                    In tal caso, il nostro IBAN é: DE62200411440207619800 (intestato a Eduard Achmetov).
                     </p>
                </div>
            </div>
        </div>
</section>
<div class="separator"></div>
