<div class="separator"></div>
<section id="gifts" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                     La vostra presenza sarà per noi il dono più bello!
                    <br>
                    Tuttavia, se dopo avervi fatto viaggiare cosí lontano vorreste mandarci a quel paese, mandateci in Australia invece! Apprezzeremmo immensamente un aiuto per la nostra luna di miele.
                    <br>
                    In tal caso, il nostro IBAN é: XXX (intestato a Eduard Achmetov).
                </div>
            </div>
        </div>
</section>
<div class="separator"></div>
