<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dove soggiornare</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
		 <p style="margin-bottom: 5rem;">Fateci sapere se avete bisogno di supporto per il vostro alloggio <a class="page-scroll" href="#contact">qui</a>.
            	 <br>
		 Abbiamo concordato delle tariffe scontate con due location a Oderzo, dove vi consigliamo di soggiornare almeno la notte dopo il matrimonio. In alternativa, vi consigliamo di esplorare le altre opzioni disponibili in città o direttamente a Treviso.
		 <br>
		 Ci occuperemo di organizzare il trasporto da entrambe le location alla Villa prima e dopo l'evento.
		 </p>
	    </div>
	</div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, PrimHote,</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Martiri Di Cefalonia, 13 - 31046 Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+39 (0)422 713699</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https:///www.primhotel.it">https://www.primhotel.it</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distanza dalla location: 7 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
               </ul>
            </div>
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Oderzo, El Sesterzio B&B</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Masotti 21/C Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">3201986074</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.booking.com/Share-zTsPZi">https://www.booking.com/Share-zTsPZi</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distanza dalla Location: 8.5km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


