<!-- Travel Section -->
<section id="travel" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Come arrivare</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
		<p style="margin-bottom: 5rem;">Innanzitutto fateci sapere se avete bisogno di supporto nell'organizzare i vostri spostamenti <a class="page-scroll" href="#contact" style="font-weight: bold; text-decoration: underline;">QUI</a>.
<br> 
Inoltre, vi consiglieremmo di raggiungere la zona il giorno prima per evitare complicazioni. 
<br>
La soluzione piú semplice é fare tappa (per la notte precedente o almeno per la notte stessa del matrimonio) ad Oderzo, che é ad un passo dalla Villa. 
<br>
Noi ci occuperemo di fornirvi un trasporto da Oderzo alla Villa, qualora non siate automuniti. 
<br>
Per coloro che non vogliono allontanarsi dalla cittá, vi suggeriamo di fare base a Treviso -che vi consigliamo caldamente di visitare!
	    </p>
	    </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Aereo</h4>
                <p class="text-muted">I due aeroporti a cui fare riferimento sono l'Aeroporto Canova di Treviso e l'Aeroporto Marco Polo di Venezia. 
Entrambi sono serviti da compagnie di bandiera e low cost, ed entrambi sono provvisti sia di car rental che di mezzi di collegamento con la cittá e la stazione dei treni.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Auto</h4>
                <p class="text-muted">Da Venezia: prendere l'Uscita di Cessalto, seguire indicazioni per Motta di Livenza percorreno la SP53. Da Motta percorrere la circonvallazione e congiungersi alla strada statale Postumia SR53, percorrendola fino a Gorgo al Monticano. Da lí seguire le indicazioni per Villa Foscarini.
Da Treviso: percorrere direttamente la postumia (SR 53) fino a Gorgo al Monticano. 
Da Conegliano: seguire le indicazioni per Oderzo e prendere la postumia (SR 53) fino a Gorgo al Monticano. 
Da Portogruaro: seguire le indicazioni per Motta di Livenza e prendere la postumia (SR 53) fino a Gorgo al Monticano</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-train fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Treno</h4>
                <p class="text-muted">La linea ferroviaria offre sia la tratta Milano/Venezia, che la tratta adratica Barletta/Venezia. 
Entrambe queste soluzioni vi portano fino a Mestre, da cui potete poi prendere un treno per Treviso e/o Oderzo.</p>
            </div>
        </div>
    </div>
</section>
