<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">La location del nostro matrimonio</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Il nostro intero evento si svolgerá presso <u>Villa Foscarni Cornaro</u>. Ci incontreremo lí nel
                        primo pomeriggio per la cerimonia ufficiale, e poi proseguiremo i festeggiamenti per tutto il pomeriggio fino al party serale.</p>
                <style>
                    .google-maps {
                        position: relative;
                        padding-bottom: 75%; // This is the aspect ratio
                    height: 0;
                        overflow: hidden;
                    }
                    .google-maps iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100% !important;
                        height: 100% !important;
                    }
                </style>
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2894.902293180824!2d12.549789376243226!3d45.77951801234491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47795c571fcca03f%3A0xa0e73c8548aba977!2sVilla%20Foscarini%20Cornaro!5e1!3m2!1sde!2sde!4v1735931464958!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
