<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">If only we could know! End of September in Italy can vary from stilly pretty warm (24° and more) to full Autumn temperatures in the evening. We have everything set for a plan B in case of rain that will grant us equally plenty of fun.</p>
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">It's a day ment to share our happiness and joy with you, so be coloful and merry, in your outfit and in your spirit! If possible, we would ask you to avoid black and white, as per tradition.</p>
            <h4 class="service-heading">Will transportation be arranged?</h4>  
            <p class="largepad text-muted">We have arranged a transportation for our guests leaving from Treviso and Oderzo to the Villa. In the evening, a transportation back to Oderzo will also available. Come back later to this website or contact us to know the exact place and time for a pickup if you need one.</p>
	    <h4 class="service-heading">How about babies and kids?</h4>
	    <p class="largepad text-muted">There will be people taking care of and entertaining our guests aged 3-10. For the youngest of us (<3 years old), we will make sure that space for play, rest and breastfeeding is available.</p>
        </div>
    </div>
</section>
