<div class="separator"></div>
<section id="gifts" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
			<h2 class="section-heading" style="color:#fff"><i class="fas fa-gift"></i></h2>
		    <p style="color:#fff">Your presence will be the best gift for us!
                    <br>
                    However, if after we made you travel so far you want to send us to hell, send us on our honeymoon instead! 
		    <br>
		    We would greatly appreciate some help with that.
                    <br>
                    In this case, our IBANs is DE62200411440207619800 (under the name of Eduard Achmetov).
		    </p>
                </div>
            </div>
        </div>
</section>
<div class="separator"></div>
