<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where To Stay</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
		<p style="margin-bottom: 5rem;">Let us know <a class="page-scroll" href="#contact">here</a> if you need support to organize your stay.
                <br>
                We have agreed for discounted fares with two locations in Oderzo, where we would suggest you to stay at least the night after the wedding. Alternatively, we suggest you to explore the other options available in the town or directly in Treviso. 
		<br>
		We will take care to organize transport from both locations to the Villa before and after the event.
		<br>
		</p>
	    </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">PrimHotel</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Martiri Di Cefalonia, 13 - 31046 Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+39 (0)422 713699</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https:///www.primhotel.it">https:///www.primhotel.it</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance from venue: 7 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">El Sesterzio B&B</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Via Masotti 21/C Oderzo (TV)</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">3201986074</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.booking.com/Share-zTsPZi">https://www.booking.com/Share-zTsPZi</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance from venue: 8.5 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
